<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>
    <title>RejangPedia</title>
    <meta
      property="og:title"
      content="RejangPedia untuk Sanak: <%= data.Title %>" />
    <meta
      property="og:description"
      content="<%- data.Content[0].babContent.replace(/<[^>]+>/g,
    '').substring(0, 200) %>..." />
    <meta property="og:image" content="<%= data.Image %>" />
    <meta
      property="og:url"
      content="https://rejang-pedia.mfathinhalim.repl.co/details/<%= data.id %>" />
  </head>
  <%- include('navbar.ejs') -%>

  <style>
    img {
      width: 460px; /* Default width for desktop */
      max-width: 100%; /* Ensure it's responsive */
    }
  </style>
  <body>
    <div class="container p-3">
      <h1><%= data.Title %></h1>
      <% if (data.Image) { %>
      <img
        src="<%= data.Image %>"
        style="
          width: 460px; /* Default width for desktop */
          max-width: 100%; /* Ensure it's responsive */
          border: 2px solid #ccc;
          object-fit: cover;
          border-radius: 24px;
        "
        class="img-fluid"
        alt="Image" />
      <br />
      <% } %> <% if (data.Link) { %>
      <h4 class="mt-2">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> Link Youtube:
      </h4>
      <iframe
        style="
          width: 460px; /* Default width for desktop */
          height: 260px;
          max-width: 100%; /* Ensure it's responsive */
          border: 2px solid #ccc;
          object-fit: cover;
          border-radius: 24px;
        "
        class="img-fluid"
        src="<%= data.Link %>">
      </iframe>
      <% } %>

      <br />
      <button class="btn btn-info rounded-pill mt-3" onclick="search()">
        <i class="fa fa-share" aria-hidden="true"></i>
        Bagikan
      </button>
      <div style="border-radius: 24px !important; background: #3f9f8dff">
        <% data.Content.forEach(function(bab) { %>
        <div class="my-4 p-3 text-white" style="color: white !important">
          <h3><%= bab.babTitle %></h3>
          <p><%- bab.babContent %></p>
        </div>
        <% }); %>
      </div>
      <p>Dimulai Oleh: <%= data.Pembuat %></p>
      <p>Diedit Terakhir: <%= data.Diedit %></p>

      <a class="btn btn-info rounded-pill" href="/edit/<%= data.id %>">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Edit Artikel
      </a>
    </div>
  </body>
  <script>
    function search() {
      // Get the text field
      var copyText = window.location.href;

      // Copy the text inside the text field
      if (navigator.share) {
        navigator.clipboard.writeText(copyText);

        navigator
          .share({
            title: "rejangpedia",
            text: "artikel untuk sanak",
            url: copyText,
          })
          .then(() => console.log("Successful share"))
          .catch((error) => console.log("Error sharing", error));
      } else {
        navigator.clipboard.writeText(copyText);
      }
    }
  </script>
</html>
