<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>
    <title>RejangPedia</title>
    <meta
      property="og:title"
      content="RejangPedia untuk Sanak: <%= data.Title %>" />
    <meta
      property="og:description"
      content="<%- data.Content[0].babContent.replace(/<[^>]+>/g,
    '').substring(0, 200) %>..." />
    <meta property="og:image" content="<%= data.Image %>" />
    <meta
      property="og:url"
      content="https://rejang-pedia.mfathinhalim.repl.co/details/<%= data.id %>" />
  </head>
  <body>
    <%- include('navbar.ejs') -%>
    <style>
      img {
        width: 460px; /* Default width for desktop */
        max-width: 100%; /* Ensure it's responsive */
        height: fit-content;
        border-radius: 24px;
      }
    </style>
    <div class="container p-3">
      <h1 class="display-4"><%= data.Title %></h1>
      <% if (data.Image) { %>
      <img
        src="<%= data.Image %>"
        style="
          width: 460px; /* Default width for desktop */
          max-width: 100%; /* Ensure it's responsive */
          border: 2px solid #ccc;
          object-fit: cover;
          border-radius: 24px;
        "
        class="img-fluid"
        alt="Image" />
      <% } %>
      <div style="border-radius: 24px !important; background: #b30000">
        <% data.Content.forEach(function(bab) { %>
        <div class="my-4 p-3 text-white" style="color: white !important">
          <h3><%= bab.babTitle %></h3>
          <p><%- bab.babContent %></p>
        </div>
        <% }); %>
      </div>
      <p>Dimulai Oleh: <%= data.Pembuat %></p>
      <p>Diedit Terakhir: <%= data.Diedit %></p>

      <a class="btn btn-info rounded-pill" href="/edit/<%= data.id %>">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Artikel
      </a>
    </div>
  </body>
</html>
