<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>
    <title>Edit</title>
  </head>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container mt-5 p-3">
      <h1>Edit "<%= data.Title %>"</h1>
      <form
        id="babForm"
        action="/edit/<%= data.id %>"
        method="post"
        enctype="application/json;charset=utf-8">
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control m-1"
            value="<%= data.Title %>" />
          <input type="hidden" id="content" name="content" />

          <% if (data.Image) { %>
          <img
            src="<%= data.Image %>"
            style="width: 300px; border-radius: 10px 10px 24px 24px"
            class="img-fluid m-1"
            alt="Image" />
          <% } %>
        </div>
        <div class="form-group">
          <label for="link">Link Video (Optional):</label>
          <input type="text" id="link" name="link" class="form-control" />
        </div>
        <div class="form-group">
          <label for="pembuat">Diedit oleh (Optional):</label>
          <input
            type="text"
            id="pembuat"
            name="pembuat"
            class="form-control"
            value="anonymus" />
        </div>
        <div id="babSections" class="babSections">
          <% data.Content.forEach(function(bab) { %>
          <div class="babSection m-2">
            <label for="babTitle">Bab Title:</label>
            <input
              type="text"
              name="babTitle"
              class="form-control"
              value="<%= bab.babTitle %>" />

            <label for="babContent">Bab Content:</label>
            <div class="quill-editor" style="height: 300px">
              <%- bab.babContent %>
            </div>

            <button type="button" class="btn btn-danger removeBab">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <hr />
          </div>
          <% }); %>
        </div>
        <button type="button" id="addBab" class="m-2 btn btn-primary">
          Tambahkan Bab
        </button>
        <button
          data-sitekey="6LfslRQoAAAAAHVBGwEVitjEQSjCD6F8unKDUdct"
          data-callback="onSubmit"
          name="g-recaptcha-response"
          id="postButton"
          data-action="submit"
          class="g-recaptcha btn btn-info rounded-lg">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Kirim
        </button>
      </form>
    </div>
  </body>
  <script src="../index.js"></script>

  <script>
    function initializeQuillEditors() {
      document.querySelectorAll(".quill-editor").forEach(function (element) {
        const quill = new Quill(element, {
          theme: "snow",
        });
      });
    }

    // Call the initialization function after adding dynamic content
    initializeQuillEditors();
  </script>
</html>
