<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homepage - rejangpedia</title>
    <%- include('import.ejs') -%>
    <meta property="og:title" content="RejangPedia" />
    <meta property="og:description" content="Punyo Kito Galo" />
    <meta property="og:image" content="/logo.png" />
    <meta
      property="og:url"
      content="https://rejang-pedia.mfathinhalim.repl.co/" />
  </head>
  <style>
    .custom-input {
      padding: 10px; /* Sesuaikan padding sesuai preferensi Anda */
      font-size: 16px; /* Sesuaikan ukuran font sesuai preferensi Anda */
    }
    #logo {
      background-color: rgba(63, 159, 142, 0) !important;
      height: 10rem;
      width: 18rem; /* Ensure it's responsive */
    }
    .card-img-top {
      height: 230px;
      width: 100%;
      border-radius: 24px !important;
    }
    ::-webkit-scrollbar {
      margin-top: 10px !important; /* Set the margin at the top of the scrollbar */
      width: 12px; /* Set the width of the scrollbar */
      height: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #888; /* Set the color of the thumb */
      border: 2px solid #555; /* Set the border color of the thumb */
    }

    ::-webkit-scrollbar-track {
      background-color: #ddd; /* Set the background color of the track */
    }
    ::-webkit-scrollbar-track:hover {
      background-color: #ddd; /* Set the background color of the track */
      height: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #555; /* Set the color of the thumb on hover */
    }

    ::-webkit-scrollbar-corner {
      background-color: #ddd; /* Set the background color of the scrollbar corner */
    }

    @media only screen and (max-width: 600px) {
      #logo {
        background-color: rgba(63, 159, 142, 0) !important;
        height: 28vw;
        width: 60vw; /* Ensure it's responsive */
      }
      .card-img-top {
        height: 130px;
        width: 230px;
      }
      ::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }
  </style>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container">
      <div
        class="header text-dark text-center mt-2 rounded-bottom"
        style="font-family: 'Montserrat' !important">
        <img
          id="logo"
          class="border-0"
          src="https://cdn.glitch.global/2f9a2460-083a-49a5-a55f-2abb8ce71e54/logo.png?v=1699767799122" />
        <p><i class="fa fa-globe"></i> Punyo Kito Galo</p>
      </div>
      <div class="search-box d-flex justify-content-center">
        <input
          autocomplete="false"
          type="text"
          style="border-radius: 12px 8px 8px 12px; padding: 25px"
          class="form-control search-input custom-input mr-1"
          id="searchInput"
          placeholder="Mau Cari Apa Sanak..." />
        <button
          type="submit"
          class="btn btn-primary border-0 rounded-0"
          style="border-radius: 8px 12px 12px 8px !important"
          onclick="search()"
          id="searchButton">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

      <h3 class="m-2">Apo Bae Yang Disiko?</h3>

      <div
        class="row flex-nowrap overflow-auto"
        style="max-width: 100%; overflow-x: auto">
        <div class="col">
          <% var op = Math.floor(Math.random()*data.length) %>
          <h6 class="card-title ml-2">Tengok Galo Artikel</h6>

          <a
            class="card m-1 card-img-top"
            style="
              color: white;
              background: url('<%= data[op].Image != null ? data[op].Image : `https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500` %>');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              height: 220px;
            "
            href="/data">
            <div
              class="dark-overlay"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 24px;
                background: rgba(0, 0, 0, 0.2);
              "></div>
          </a>
          <a
            href="/details/<%= data[op].id %>"
            class="btn btn-primary m-1 border-0"
            style="
              background-color: #0d7502ff !important;
              color: white !important;
              width: fit-content;
              border-radius: 12px;
              text-align: left !important;
            "
            ><i
              class="fa fa-chevron-right"
              aria-hidden="true"
              style="color: white !important"></i>
            Baco <%= data[op].Title.substring(0, 10) %>...
          </a>
        </div>
        <div class="col">
          <h6 class="card-title ml-2">Kamus Bahasa Rejang</h6>
          <a
            class="card m-1 card-img-top"
            href="https://kamusrejang.rejanglebongkab.go.id"
            style="
              background: url('https://cdn.glitch.global/2f9a2460-083a-49a5-a55f-2abb8ce71e54/thumbnails%2Fkamus.jpg?1702886881063');
              color: white;
              background-position: center;
              height: 220px;
            ">
            <div
              class="dark-overlay"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 24px;
                background: rgba(0, 0, 0, 0.2);
              "></div>
          </a>
          <a
            href="https://kamusrejang.rejanglebongkab.go.id/database"
            class="btn btn-primary m-1 border-0"
            style="
              background-color: #dac26aff !important;
              border-radius: 12px;
              width: fit-content;
              color: white !important;
              text-align: left !important;
            "
            ><i
              class="fa fa-plus"
              aria-hidden="true"
              style="color: white !important"></i>
            Tambahkan Kata</a
          >
        </div>
        <div class="col">
          <h6 class="card-title ml-2">Media Sosial!</h6>

          <a
            class="card m-1 card-img-top"
            href="/chat"
            style="
              background: url('https://img.freepik.com/free-vector/person-addicted-social-media-illustration-concept_52683-32210.jpg');
              color: white;
              background-position: center;
              height: 220px;
            ">
            <div
              class="dark-overlay"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 24px;
                background: rgba(0, 0, 0, 0.2);
              "></div>
          </a>
        </div>
      </div>
      <hr class="hr" />
      <h3>Artikel Pilihan</h3>

      <div class="mb-2" style="max-width: 100%; border-radius: 24px">
        <div
          class="row flex-nowrap overflow-auto mr-1"
          style="overflow-x: auto">
          <% dataPilihan.forEach(function(entry) { %> <% if
          (entry.Title.toLowerCase().includes("rejang") ||
          entry.Title.toLowerCase().includes("bengkulu") ||
          entry.Content[0].babContent.toLowerCase().includes("rejang") ||
          entry.Content[0].babContent.toLowerCase().includes("bengkulu")) { %>
          <div class="col">
            <a
              class="card"
              href="/details/<%= entry.id %>"
              style="
                border-radius: 12px;
                background: rgba(0, 0, 0, 0) !important;
                border: none;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
              ">
              <h5
                class="card-title mb-2"
                style="
                  margin: 0;
                  max-height: 1.2em;
                  overflow: hidden;
                  font-family: Arial, Helvetica, sans-serif;
                  text-overflow: ellipsis;
                  white-space: no-wrap;
                ">
                <%= entry.Title %>
              </h5>
              <% if (entry.Image != null) { %>
              <img
                class="card-img-top"
                style="border-radius: 12px !important; border: none"
                src="<%= entry.Image %>"
                onerror="this.remove();" />
              <% } else { %>
              <img
                class="card-img-top"
                style="border-radius: 12px !important; border: none"
                src="https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                onerror="this.remove();" />
              <% } %>
            </a>
          </div>
          <% } %> <% }); %>
        </div>
      </div>
      <hr class="hr" />

      <h3>? Tahukah Kamu ...</h3>

      <div
        class="mr-2 pl-2 pr-2 mb-2"
        id="pilihan"
        style="
          max-width: 100%;
          border-radius: 12px;
          background: rgba(0, 0, 0, 0) !important;
        ">
        <div class="row flex-nowrap overflow-auto" style="overflow-x: auto">
          <% dataAcak.forEach(function(entry) { %>
          <div>
            <a
              class="card mr-1 p-1"
              id="card-pilihan"
              href="/details/<%= entry.id %>"
              style="
                border-radius: 12px;
                border: none;

                color: white !important;
                width: 400px !important;
                display: flex;
                flex-direction: row;
                align-items: center;
              ">
              <% if (entry.Image != null) { %>
              <img
                class="card-img m-1"
                style="
                  width: 50px;
                  height: 50px;
                  border: none;
                  border-radius: 12px;
                  object-fit: cover;
                "
                src="<%= entry.Image %>"
                onerror="this.remove();" />
              <% } else { %>
              <img
                class="card-img m-1"
                style="
                  width: 50px;
                  height: 50px;
                  border: none;
                  border-radius: 12px;
                "
                src="https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                onerror="this.remove();" />
              <% } %>

              <div
                class="card-body"
                style="
                  flex-grow: 1;
                  padding: 0;
                  padding-left: 10px;
                  padding-right: 10px;
                ">
                <p
                  class="card-text ml-3"
                  style="
                    max-height: 3em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: no-wrap;
                    max-width: 350px;
                  ">
                  <%- entry.Content[0].babContent.replace(/<[^>]+>/g, '') %>
                </p>
              </div>
            </a>
          </div>

          <% }); %>
        </div>
      </div>

      <div id="insert-here"></div>
    </div>

    <script>
      function search() {
        const searchTerm = searchInput.value;
        console.log("Search term:", searchTerm);
        window.location.href = `/search?term=${searchTerm}`;
      }

      document
        .getElementById("searchButton")
        .addEventListener("click", function () {
          search();
        });

      const searchInput = document.getElementById("searchInput");
      searchInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
          search();
        }
      });
      function myFunc() {
        var cell4 = document.getElementById("insert-here");
        var element3 = document.createElement("a");
        element3.href = "/accept";
        element3.innerHTML = "Admin Dashboard";
        element3.className = "btn btn-danger btn-xs mb-4";
        cell4.appendChild(element3);
      }
      if (localStorage.getItem("atmin")) {
        myFunc();
        var cell4 = document.getElementById("insert-here");
        var element3 = document.createElement("a");
        element3.href = "/rekrutatmin";
        element3.innerHTML = "Recrut Admin";
        element3.className = "btn btn-info ml-2 btn-xs mb-4";
        cell4.appendChild(element3);
      }
    </script>
  </body>
</html>
