<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Homepage - Rejang Pedia</title>
    <%- include('import.ejs') -%>
    <!-- Tambahkan link ke Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rmok6z1LlBfUTvNTzqFMrjsG5lkZz0AIqrKEj3frjq9p0F65Nebzczr6ew8zI26q"
      crossorigin="anonymous" />
  </head>
  <style>
    .custom-input {
      padding: 10px; /* Sesuaikan padding sesuai preferensi Anda */
      font-size: 16px; /* Sesuaikan ukuran font sesuai preferensi Anda */
    }
  </style>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container">
      <div
        class="header text-dark text-center p-4 mt-2 rounded-bottom"
        style="font-family: 'Montserrat' !important">
        <h1>
          <strong style="color: rgb(216, 0, 50) !important"
            >RejangPedia!</strong
          >
        </h1>
        <p>Sebuah Tempat Berbagi Ilmu</p>
      </div>
      <div class="search-box d-flex justify-content-center">
        <input
          type="text"
          style="border-radius: 12px 8px 8px 12px; padding: 25px"
          class="form-control search-input custom-input mr-1"
          id="searchInput"
          placeholder="Mau Cari Apa Sanak..." />
        <button
          type="submit"
          class="btn btn-primary border-0 rounded-0"
          style="border-radius: 8px 12px 12px 8px !important"
          onclick="search()"
          id="searchButton">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>

      <h3 class="m-2">Mau Lihat Lihat Artikel?</h3>
      <a href="/data" class="btn btn-primary rounded-pill"
        >Lihat Semua Artikel</a
      >
      <ul
        class="list-group mt-2"
        style="
          background: rgb(216, 0, 50);

          border-radius: 24px 24px 0 0;
        ">
        <!-- Loop through your data to display articles that contain "rejang" -->
        <% data.forEach(function(entry) { %> <% if
        (entry.Title.toLowerCase().includes("rejang")) { %>
        <li
          class="list-group-item listing border-0 text-white"
          style="border-radius: 24px !important; background: rgb(216, 0, 50)">
          <div class="listing-background">
            <img
              class="listing-image mr-2"
              style="
                width: 460px; /* Default width for desktop */
                max-width: 100%; /* Ensure it's responsive */
                border: 2px solid #ccc;
                object-fit: cover;
                border-radius: 24px;
              "
              src="<%= entry.Image %>"
              alt="<%= entry.Title %>" />
          </div>
          <div class="listing-content m-1">
            <div class="listing-info">
              <h3 class="listing-info-title"><%= entry.Title %></h3>
              <p style="color: #fffffff1">
                <%- entry.Content[0].babContent.replace(/<[^>]+>/g,
                '').substring(0, 200) %>...
              </p>
            </div>
            <div class="listing-price-wrapper">
              <div class="listing-price">
                <a
                  class="btn btn-primary rounded-pill border-0 m-1"
                  style="background-color: white !important; color: black"
                  href="/details/<%= entry.id %>">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  Baca Lebih Banyak
                </a>
              </div>
            </div>
          </div>
        </li>
        <hr style="border: 1px solid white; width: 100% !important" />
        <% } %> <% }); %>
      </ul>
    </div>

    <!-- Tambahkan script Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-jOo0BtDHf6my/BsFjEZmc0RivzubPP6Ie4pDMS9/wf1W4lTHj4/f5G5L5z0"
      crossorigin="anonymous"></script>
    <script>
      function search() {
        const searchTerm = searchInput.value;
        console.log("Search term:", searchTerm);
        window.location.href = `/search?term=${searchTerm}`;
      }

      document
        .getElementById("searchButton")
        .addEventListener("click", function () {
          search();
        });

      const searchInput = document.getElementById("searchInput");
      searchInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
          search();
        }
      });
    </script>
  </body>
</html>
