<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>

    <title>Admin Dashboard</title>
    <script>
      function checkPasswordAndRedirect(password, url, save) {
        const enteredPassword = prompt("Please enter the password:");
        if (enteredPassword === password) {
          if (save === true) {
            localStorage.setItem("password", enteredPassword);
          }

          // Jika password benar, simpan di local storage
          window.location.href = url;
        } else {
          alert("Incorrect password. You will be redirected to the main page.");
          window.location.href = "/";
        }
      }
      function encrypt(text) {
        // Contoh sederhana, mengganti karakter
        return text
          .split("")
          .map((char) => String.fromCharCode(char.charCodeAt(0) + 1))
          .join("");
      }

      function decrypt(encryptedText) {
        // Mendekripsi teks (mengganti karakter kembali)
        return encryptedText
          .split("")
          .map((char) => String.fromCharCode(char.charCodeAt(0) - 1))
          .join("");
      }

      const initialPassword = decrypt("bunjoNbvMphjo");
      const savedPassword = localStorage.getItem("password");

      if (!savedPassword && initialPassword) {
        checkPasswordAndRedirect(initialPassword, window.location.href, true);
      }
    </script>
  </head>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container">
      <h1 class="mt-3">
        <i class="fa fa-spinner" aria-hidden="true"></i> Data OnGoing
      </h1>
      <ul class="list-group">
        <% data.forEach(function(entry) { %>
        <li
          class="list-group-item listing m-2"
          style="border-radius: 24px !important">
          <div class="listing-background">
            <img
              class="listing-image"
              style="
                width: 300px;
                height: 200px;
                border: 2px solid #ccc;
                object-fit: cover;
                border-radius: 24px;
              "
              src="<%= entry.Image %>"
              alt="<%= entry.Title %>" />
          </div>
          <div class="listing-content">
            <div class="listing-info">
              <h3 class="listing-info-title"><%= entry.Title %></h3>
              <p>
                <%- entry.Content[0].babContent.replace(/<[^>]+>/g,
                '').substring(0, 200) %>...
              </p>
            </div>
            <div class="listing-price-wrapper">
              <div class="listing-price">
                <a
                  class="btn btn-primary rounded-pill delete-button border-0 m-1"
                  href="/details/ongoing/<%= entry.id %>">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  Baca
                </a>
                <button
                  class="btn btn-success"
                  onclick="checkPasswordAndRedirect('atminSudahDatang', '/accept/<%= entry.id %>', false)">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button
                  class="btn btn-danger"
                  onclick="checkPasswordAndRedirect('atminSudahDatang', '/accept/delete/<%= entry.id %>', false)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </li>

        <% }); %>
        <hr class="hr" />
        <h1><i class="fa fa-list" aria-hidden="true"></i> Data Utama</h1>
        <% dataUtama.forEach(function(entry) { %>
        <li
          class="list-group-item listing m-2"
          style="border-radius: 24px !important">
          <div class="listing-background">
            <img
              class="listing-image"
              style="
                width: 300px;
                height: 200px;
                border: 2px solid #ccc;
                object-fit: cover;
                border-radius: 24px;
              "
              src="<%= entry.Image %>"
              alt="<%= entry.Title %>" />
          </div>
          <div class="listing-content">
            <div class="listing-info">
              <h3 class="listing-info-title"><%= entry.Title %></h3>
              <p>
                <%- entry.Content[0].babContent.replace(/<[^>]+>/g,
                '').substring(0, 200) %>...
              </p>
            </div>
            <div class="listing-price-wrapper">
              <div class="listing-price">
                <a
                  class="btn btn-primary rounded-pill delete-button border-0 m-1"
                  href="/details/<%= entry.id %>">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  Baca
                </a>
                <button
                  class="btn btn-danger rounded-pill delete-button border-0 m-1"
                  onclick="checkPasswordAndRedirect('bunjoTvebiEbuboh', '/delete/<%= entry.id %>', false)">
                  <i class="fa fa-trash" aria-hidden="true"></i> Delete
                </button>
                <a
                  class="btn btn-info rounded-pill"
                  href="/edit/<%= data.id %>">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Edit Artikel
                </a>
              </div>
            </div>
          </div>
        </li>

        <% }); %>
      </ul>
    </div>
  </body>
</html>
