<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>

    <title>Admin Dashboard</title>
    <script>
      if (!localStorage.getItem("atmin")) {
        window.location.href = "/";
      }
      function checkPasswordAndRedirect(pw, link) {
        window.location.href = link;
      }
    </script>
  </head>
  <body>
    <%- include('navbar.ejs') -%>

    <div class="container">
      <ul
        class="list-group pl-2 pr-2 text-black"
        style="border-radius: 24px !important; list-style-type: none">
        <h3 class="mt-3">
          <i class="fa fa-spinner" aria-hidden="true"></i> Data OnGoing
        </h3>
        <% data.forEach(function(entry) { %>
        <li class="m-2" style="border-radius: 24px !important">
          <div class="mb-4">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="<%= entry.Image %>"
                  style="width: 100%; height: 300px; object-fit: cover"
                  alt="<%= entry.Title %>"
                  class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= entry.Title %></h5>
                  <p class="card-text">
                    <%- entry.Content[0].babContent.replace(/<[^>]+>/g,
                    '').substring(0, 200) %>...
                  </p>
                  <div class="d-flex">
                    <a
                      href="/details/ongoing/<%= entry.id %>"
                      class="btn btn-primary rounded-pill mr-2">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      Baca
                    </a>
                    <div class="btn-group">
                      <button
                        class="btn btn-danger rounded-pill mr-2"
                        onclick="checkPasswordAndRedirect('bunjoTvebiEbuboh', '/accept/delete/<%= entry.id %>')">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                      </button>
                      <a
                        href="/accept/<%= entry.id %>"
                        class="btn btn-secondary rounded-pill">
                        <i class="fa fa-check" aria-hidden="true"></i> Terima
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <% }); %>
        <hr class="hr" style="border: 1px solid #ece3ce; width: 100%" />
        <h3><i class="fa fa-list" aria-hidden="true"></i> Data Utama</h3>
        <% dataUtama.forEach(function(entry) { %>
        <li class="m-2" style="border-radius: 24px !important">
          <div class="mb-4">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="<%= entry.Image %>"
                  style="width: 100%; height: 300px; object-fit: cover"
                  alt="<%= entry.Title %>"
                  class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= entry.Title %></h5>
                  <p class="card-text">
                    <%- entry.Content[0].babContent.replace(/<[^>]+>/g,
                    '').substring(0, 200) %>...
                  </p>
                  <div class="d-flex">
                    <a
                      href="/details/<%= entry.id %>"
                      class="btn btn-primary rounded-pill mr-2">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      Baca
                    </a>
                    <div class="btn-group">
                      <button
                        class="btn btn-danger rounded-pill mr-2"
                        onclick="checkPasswordAndRedirect('bunjoTvebiEbuboh', '/delete/<%= entry.id %>')">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                      </button>
                      <a
                        href="/edit/<%= entry.id %>"
                        class="btn btn-secondary rounded-pill mr-2">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                        Artikel
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <% }); %>
      </ul>
    </div>
  </body>
</html>
