<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('import.ejs') -%>
    <title>rejangpedia</title>
  </head>
  <style>
    img {
      width: 160px;
      height: 110px;
      object-fit: cover;
      border-radius: 12px;
    }
  </style>
  <body>
    <%- include("navbar") %>
    <div class="container mt-5 mb-5">
      <h3 class="pb-2">Iko Kan Sanak?</h3>

      <div class="mb-3 d-flex justify-content-center">
        <input
          autocomplete="off"
          type="text"
          style="border-radius: 12px 8px 8px 12px; padding: 25px"
          class="form-control search-input custom-input mr-1"
          id="searchInput"
          value="<%= query %>"
          placeholder="Mau Cari Apa Sanak..."
        />
        <button
          type="submit"
          class="btn btn-primary border-0 rounded-0"
          style="border-radius: 8px 12px 12px 8px !important"
          onclick="search()"
          id="searchButton"
        >
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <a href="/" class="btn btn-secondary rounded-pill mb-3"
        ><i class="fa fa-chevron-left" aria-hidden="true"></i> Beranda</a
      >

      <div class="p-3 mb-2 border-bottom rounded-lg">
        <h3 class="mb-3">
          <i
            class="fa fa-robot"
            style="color: #3f9f8dff !important"
            aria-hidden="true"
          ></i>
          Rangkuman AI
        </h3>
        <h6><%- ai %></h6>
      </div>
      <hr />

      <ul
        class="list-group"
        style="border-radius: 24px !important; list-style-type: none"
      >
        <% results.forEach(function(result, index) { %>
        <li class="mb-4">
          <div class="d-flex flex-column flex-md-row align-items-md-center">
            <% if (result.Image != null) { %>
            <img
              class="listing-image mb-3 mb-md-0 mr-md-3"
              src="<%= result.Image %>"
              alt="<%= result.Title %>"
              onerror="this.remove()"
            />
            <% } %>

            <div class="<%= result.Image ? 'ml-md-3' : '' %>">
              <a class="text-decoration-none" href="/details/<%= result.id %>">
                <h5 class="mb-2"><%= result.Title %></h5>

                <% if (result.Content && result.Content[0] &&
                result.Content[0].babContent) { %>
                <p class="text-muted">
                  <%= result.Content[0].babContent.replace(/<[^>]+>/g,
                  '').substring(0, 100) %>...
                </p>
                <% } %>
              </a>
            </div>
          </div>

          <% if (index !== results.length - 1) { %>
          <hr class="my-3" />
          <% } %>
        </li>
        <% }); %>

        <div class="d-flex align-items-center">
          <a class="mt-2">
            <h6>Dak Do Lagi lah..</h6>
          </a>
        </div>
      </ul>
    </div>
    <script>
      function search() {
        const searchTerm = searchInput.value;
        console.log("Search term:", searchTerm);
        window.location.href = `/search?term=${searchTerm}`;
      }

      document
        .getElementById("searchButton")
        .addEventListener("click", function () {
          search();
        });

      const searchInput = document.getElementById("searchInput");
      searchInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
          search();
        }
      });
    </script>
  </body>
</html>
